{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/blog/style.css' %}">
	
	<h1>Blog page</h1>
	{{ request.user }}
	{% for blog in blogs %}

	<div class="conatiner">
	<div class="row">
		<div class="card col" style="width: 18rem;">
  			<img src='{{ blog.image.url }}' class="card-img-top" alt="...">
  			<div class="card-body">
	    		<h5 class="card-title">{{ blog.title }}</h5>
	    		<p class="card-text">{{ blog.description }}</p>
	    		<a href="#" class="btn btn-primary">Read more</a>
  			</div>
		</div>
	</div>
	</div>
	
	{% endfor %}
{% endblock %}	